/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis CSS */
:root {
    --primary-color: #e96443;
    --secondary-color: #904e95;
    --highlight-color: #f39c12;
    --font-family: 'Montserrat', sans-serif;
    --text-color: #333;
    --background-gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    --header-background: rgba(51, 51, 51, 0.9);
    --hover-background-color: #e76f51;
    --header-height: 80px;
}

/* Body */
body {
    font-family: var(--font-family);
    background: var(--background-gradient);
    color: var(--text-color);
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Header */
header {
    background: var(--header-background)
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: var(--header-height);
    border-radius: 50%;
    border: 2px solid black;
    transition: transform 0.3s ease-in-out;
}
.logo img:hover {
    transform: scale(1.1);
}


/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
.nav {
    list-style: none;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-item a {
    color: var(--highlight-color);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    font-weight: bold;
}
.nav-item a:hover {
    color: #fff;
    background-color: var(--hover-background-color);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}
.bar {
    height: 3px;
    width: 25px;
    background-color: var(--highlight-color);
    margin: 4px 0;
    transition: all 0.3s ease;
}

/* Main */
main {
    padding: calc(var(--header-height) + 20px) 20px 20px 20px;
}

/* Sections */
.section {
    padding: 40px;
    margin: 20px 0;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeInUp 1s ease-out;
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h1 {
    margin-bottom: 20px;
    color: #e76f51;
    font-size: 2.5rem;
    text-align: center;
    animation: fadeIn 1s ease-in;
}
p {
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    animation: fadeIn 1.5s ease-in;

}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Gallery */
.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.gallery-item {
    flex: 1 1 30%;
    margin: 10px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}
.gallery-item img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
    
}
.gallery-item:hover {
    transform: scale(1.05);
}
.gallery-item:hover img {
    transform: scale(1.1);
}

/* Social Icons */
.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.social-icon {
    color: var(--primary-color);
    font-size: 3rem;
    margin: 0 10px;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.social-icon:hover {
    color: var(--highlight-color);
    transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: var(--header-height);
        right: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);
        transition: transform 0.5s ease-in-out;
    }
    .section h1{
        font-size: 28px;

    }
    .section p{
        font-size: 20px;
        text-align: center;
    }
    .nav-item {
        margin: 20px 0;
    }
    .nav-item a {
        font-size: 1.5rem;
    }
    .menu-toggle {
        display: flex;
    }
    .nav-active {
        transform: translateX(0);
    }
    .bar.active:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }
    .bar.active:nth-child(2) {
        opacity: 0;
    }
    .bar.active:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    .gallery {
        flex-direction: column;
    }
    .gallery-item {
        margin: 10px 0;
    }
}

/* Button */
.more-models-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: var(--highlight-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.more-models-btn:hover {
    background-color: var(--hover-background-color);
}
/* Estilo da caixa de diálogo de boas-vindas */
.welcome-message {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1rem;
    white-space: nowrap;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    border: 2px solid black;
}

.logo {
    position: relative;
    display: inline-block;
}

/* Animação de entrada */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.welcome-message {
    animation: fadeIn 0.3s ease-in-out;
}
.more-models-btn{
    text-decoration: none;
}
.more-models-link{
    text-decoration: none;
}

/* Responsividade */
@media (max-width: 768px) {
    .welcome-message {
        font-size: 0.8rem;
        left: calc(100% + 10px); /* Adiciona um espaço de 10px entre o logo e a mensagem */
        transform: translateY(-50%);
    }

    .logo {
        display: flex;
        align-items: center;
    }
}

.more-models-btn a{
    text-decoration: none;
    color: white;
}
.more-models-link{
    text-decoration: none;
}